*/target
.idea

lib
node_modules

cairo_programs/build
cairo_programs/deps
cairo/packages/*
cairo/build
build
venv

.DS_Store

pie.zip
*pie.zip
*.log
pie.encoded.txt

client/epoch_data.json
committee_input.json
epoch_input.json
epoch_batch_input.json
nimbus-data

**/*.pyc

client-rs/batches

**/.env*