*/target
target/
.idea

cairo_programs/build
cairo_programs/deps
cairo/packages/*
cairo/build/*
build
venv

.DS_Store

**/batches

**/.env*

!cairo/build/epoch_batch.json
!cairo/build/committee_update.json